Pandas Assignment

Student Name: **KAKANDE Paul**

Reg No: **2022/HD07/2044U**

Instructions:
Please complete the questions below.
Please comment your code indicating how you approached the problem

In [1]:
# Importing required packages
import numpy as np #imports the numpy package and sets np as its alias
import pandas as pd #imports the pandas packages and sets pd as its alias

## Introduction to Pandas

In [2]:
#Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?

#### Creating a Pandas Series object
A Pandas Series object is created using the `Series` data structure of the library.
- `pd.Series(data, index=index)` where `data` can be a list of NumPy array and `index` is an optional argument which defaults to an integer sequence starting at 0 with step=1.
- where the `data` provided is a dictionary, the `index` defaults to its keys.

For a series object named `p_series` with data `5, 10, 15, 20, 25`;
- `p_series` = pd.Series([5, 10, 15, 20, 25]) creates the seried object with the data.

#### Finding the average of the values in the Series, `p_series`
To find the average of the `Series`, we use the `pandas.Series.mean()` method.

For the above series, `p_series.mean()` would return the average of the Series.

The code block below shows the processes described:

In [3]:
# Creating the pandas object with data 5, 10, 15, 20, 25
p_series = pd.Series([5, 10, 15, 20, 25])

# Finding the average of the p_series
p_avg = p_series.mean()

# Displaying the results
print("Series object:")
print(p_series)
print("Average of series: ", p_avg)

Series object:
0     5
1    10
2    15
3    20
4    25
dtype: int64
Average of series:  15.0

In [4]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the total salary of all employees?

#### Creating a Pandas DataFrame object
The is created using the python `pandas.DataFrame()` method.

For data: `{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}`;
Dataframe object, `p_dataframe = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})`.

#### Finding the total salary of all employees.
This can be calculated using the `data_frame.column.sum()` function as `p_dataframe.Salary.sum()`

Solution is provided in the code block below:

In [5]:
# Creating the DataFrame object
p_dataframe = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})

# Calculating the total salary of all employees.
total_salary = p_dataframe.Salary.sum()

# Printing out the results.
print("DataFrame:\n ", p_dataframe)
print("Total Salary: ", total_salary)

DataFrame:
        Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
Total Salary:  180000

## DataFrames and Series

In [6]:
#Create a Pandas Series object containing the following data: [1, 2, 3, 4, 5]. Add 10 to each value in the Series.

#### Solution

In [7]:
# Creating a Pandas Series object
p_series = pd.Series([1, 2, 3, 4, 5])

# Adding 10 to each value in the Series
p_series_plus_10 = p_series + 10

# Displaying the results
print("Series:")
print(p_series, '\n')
print("Series plus 10:")
print(p_series_plus_10)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series plus 10:
0    11
1    12
2    13
3    14
4    15
dtype: int64

In [8]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Select only the rows where the Age is greater than 30.

#### Creating the DataFrame Object
This is done using the `pandas.DataFrame()` method.
- `p_df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})` 

#### Selecting only the rows where the Age is greater than 30
This can be accomplished by `p_df_gt_30 = p_df[p_df['Age']>30]` for dataframe `p_df` where:
- `p_df['Age']>30` selects the `Age` column of dataframe `p_df` and creates a mask that returns a list of boolean values with `True` if value of Age is greater than 30 and `False` otherwise.
- Indexing `p_df` with the returned list above as in `p_df[p_df['Age']>30]` returns only the rows that correlate to the same index as the indices of the `True` values in the boolean list.
    
The solution is as shown in the code block below:

In [9]:
# Creating a Pandas DataFrame object containing data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
p_df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})

# Selecting only the rows where Age is greater than 30
p_df_gt_30 = p_df[p_df['Age']>30]

# Displaying the results
print("Whole DataFrame:")
print(p_df, '\n')
print("Rows where Age is greater than 30:")
print(p_df_gt_30)

Whole DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Rows where Age is greater than 30:
      Name  Age  Salary
2  Charlie   35   70000

## Loading Data into Pandas

In [ ]:
#Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
#Please check your data folder for this dataset

In [ ]:
#Display the dimensions of the data

In [ ]:
#Display the top 10 rows

In [ ]:
#Display the last 10 rows

## Data Cleaning

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Remove all rows with missing values

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Fill all missing values with the average Age and the median Salary.

## Data Exploration

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.

## Grouping and Aggregating Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.

## Reshaping Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}. Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

## Merging and Joining Data

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. Perform a left join on df1 and df2 using the 'key' column as the join key.

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")

# Clean the data by removing any rows with missing values and any duplicate rows
df = 
df = 

# Use NumPy to calculate the mean and standard deviation of the "births" column
mean = 
std_dev = 

# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df['year']*10000 + df['month']*100 + df['day'], format='%Y%m%d')
grouped_by_month = 

# Use Matplotlib to create a line plot of the mean number of births per month over time
plt.plot(grouped_by_month)
plt.xlabel('Year-Month')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Month')
plt.show()

# Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
df['day_of_week'] = df['date'].dt.day_name()
grouped_by_day_of_week = 

# Use Matplotlib to create a bar chart of the mean number of births per day of the week
plt.bar(grouped_by_day_of_week.index, grouped_by_day_of_week.values)
plt.xlabel('Day of the Week')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Day of the Week')
plt.show()

# Use Pandas to group the data by year, and calculate the total number of births for each year
grouped_by_year =

# Use Matplotlib to create a bar chart of the total number of births per year
plt.bar(grouped_by_year.index, grouped_by_year.values)
plt.xlabel('Year')
plt.ylabel('Total Number of Births')
plt.title('Total Number of Births per Year')
plt.show()