Pandas Assignment

Student Name: **KAKANDE Paul**

Reg No: **2022/HD07/2044U**

Instructions:
Please complete the questions below.
Please comment your code indicating how you approached the problem

In [1]:
# Importing required packages
import numpy as np #imports the numpy package and sets np as its alias
import pandas as pd #imports the pandas packages and sets pd as its alias

## Introduction to Pandas

In [2]:
#Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?

#### Creating a Pandas Series object
A Pandas Series object is created using the `Series` data structure of the library.
- `pd.Series(data, index=index)` where `data` can be a list of NumPy array and `index` is an optional argument which defaults to an integer sequence starting at 0 with step=1.
- where the `data` provided is a dictionary, the `index` defaults to its keys.

For a series object named `p_series` with data `5, 10, 15, 20, 25`;
- `p_series` = pd.Series([5, 10, 15, 20, 25]) creates the seried object with the data.

#### Finding the average of the values in the Series, `p_series`
To find the average of the `Series`, we use the `pandas.Series.mean()` method.

For the above series, `p_series.mean()` would return the average of the Series.

The code block below shows the processes described:

In [3]:
# Creating the pandas object with data 5, 10, 15, 20, 25
p_series = pd.Series([5, 10, 15, 20, 25])

# Finding the average of the p_series
p_avg = p_series.mean()

# Displaying the results
print("Series object:")
print(p_series)
print("Average of series: ", p_avg)

Series object:
0     5
1    10
2    15
3    20
4    25
dtype: int64
Average of series:  15.0

In [4]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the total salary of all employees?

#### Creating a Pandas DataFrame object
The is created using the python `pandas.DataFrame()` method.

For data: `{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}`;
Dataframe object, `p_dataframe = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})`.

#### Finding the total salary of all employees.
This can be calculated using the `data_frame.column.sum()` function as `p_dataframe.Salary.sum()`

Solution is provided in the code block below:

In [5]:
# Creating the DataFrame object
p_dataframe = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})

# Calculating the total salary of all employees.
total_salary = p_dataframe.Salary.sum()

# Printing out the results.
print("DataFrame:\n ", p_dataframe)
print("Total Salary: ", total_salary)

DataFrame:
        Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
Total Salary:  180000

## DataFrames and Series

In [6]:
#Create a Pandas Series object containing the following data: [1, 2, 3, 4, 5]. Add 10 to each value in the Series.

#### Solution

In [7]:
# Creating a Pandas Series object
p_series = pd.Series([1, 2, 3, 4, 5])

# Adding 10 to each value in the Series
p_series_plus_10 = p_series + 10

# Displaying the results
print("Series:")
print(p_series, '\n')
print("Series plus 10:")
print(p_series_plus_10)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series plus 10:
0    11
1    12
2    13
3    14
4    15
dtype: int64

In [8]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Select only the rows where the Age is greater than 30.

#### Creating the DataFrame Object
This is done using the `pandas.DataFrame()` method.
- `p_df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})` 

#### Selecting only the rows where the Age is greater than 30
This can be accomplished by `p_df_gt_30 = p_df[p_df['Age']>30]` for dataframe `p_df` where:
- `p_df['Age']>30` selects the `Age` column of dataframe `p_df` and creates a mask that returns a list of boolean values with `True` if value of Age is greater than 30 and `False` otherwise.
- Indexing `p_df` with the returned list above as in `p_df[p_df['Age']>30]` returns only the rows that correlate to the same index as the indices of the `True` values in the boolean list.
    
The solution is as shown in the code block below:

In [9]:
# Creating a Pandas DataFrame object containing data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
p_df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})

# Selecting only the rows where Age is greater than 30
p_df_gt_30 = p_df[p_df['Age']>30]

# Displaying the results
print("Whole DataFrame:")
print(p_df, '\n')
print("Rows where Age is greater than 30:")
print(p_df_gt_30)

Whole DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Rows where Age is greater than 30:
      Name  Age  Salary
2  Charlie   35   70000

## Loading Data into Pandas

In [10]:
#Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
#Please check your data folder for this dataset

In [11]:
# Reading the csv file.
df_diabetes = pd.read_csv("../../Data/Diabetes/diabetes.csv") # This is done using the `pd.read_csv` method.

# Displaying the names of columns in the DataFrame
print("Names of the columns in the DataFrame:\n", list(df_diabetes.columns)) # The column names are displayed using the columns attribute of the DataFrame

Names of the columns in the DataFrame:
 ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [12]:
#Display the dimensions of the data
# Here, we use the shape attribute of the DataFrame
df_diabetes.shape

(768, 9)

In [13]:
#Display the top 10 rows

#### Displaying the first 10 rows.
This is achieved using the `df.head(n)` method of a DataFrame where:
- `df` is the DataFrame
- `head()` is the method to display rows from the top of the DataFrame
- `n` is an integer representing the number of rows to be displayed from the top. This is optional and it defaults to 5.

How it is used is shown in the code block below:

In [14]:
df_diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [15]:
#Display the last 10 rows

#### Displaying the last 10 rows.
This is achieved using the `df.tail(n)` method of a DataFrame where:
- `df` is the DataFrame
- `tail()` is the method to display the rows from the bottom of the DataFrame
- `n` is an integer representing the number of rows to be displayed. This is optional and it defaults to 5.

How it is used is shown in the code block below:

In [16]:
df_diabetes.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Data Cleaning

In [17]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Remove all rows with missing values

#### Creating the DataFrame object
`df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]})` creates the dataframe.

#### Removing all rows with missing values
This can be achieved using the dataframe method `dropna()` which has various optional parameters that can be adjusted to achieve our goal including:
- `axis` which defaults to 0 meaning drop all **rows** having missing values. Use `axis=1` to do otherwise for columns. Here, we may explicitly use the words `rows` or `columns` as in `axis='columns`.
- `inplace` a boolean which specifies whether to modify the `original DataFrame` if value is `True` as in `inplace=True` or not if `False`. This defaults to `False`.

For the dataframe `df` above, we can achieve it in various ways as:
- `df2 = df.dropna()`
- `df3 = df.dropna(axis=0)`
- `df4 = df.dropna(axis='rows')`
- In the above, the resulting filtered dataframe is assigned to a new variable keeping the original unchanged.
- `df.dropna(inplace=True)` # Here the `df` dataframe is modified instead.

In [18]:
# Creating the Pandas DataFrame object
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
                   'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]})

#Printing out the created object.
print("Original DataFrame object:")
print(df, "\n")

# Removing all rows with missing values
df.dropna(inplace=True)

# Printing the DataFrame object with all rows with missing values removed
print("DataFrame Object with all rows with missing values removed:")
print(df)

Original DataFrame object:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

DataFrame Object with all rows with missing values removed:
    Name   Age   Salary
0  Alice  25.0  50000.0
3   Dave  35.0  80000.0
4    Eve  40.0  90000.0

In [19]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Fill all missing values with the average Age and the median Salary.

#### Creating the Pandas DataFrame object
This is created using `df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]})` with `df` variable holding the dataframe.

#### Calculating the average Age
To calculate average Age, we index the dataframe `df` with `Age` and then apply the method `np.nanmean()` to it which excludes the missing values during calculation as `np.nanmean(df['Age'])`

#### Calculating the median Salary
This is achieved by indexing the dataframe `df` with `Salary` and applying the `median()` method to it `numpy.nanmedian()` which excludes the missing values during calculation as `np.nanmedian(df['Salary'])`

#### Filling in the missing values with the average Age and median Salary
This is achieved using the dataframe `fillna()` method which has several parameters including (only those used for this problem listed):
- `value` which is optional and defaults to `none`. This captures the value(s) to replace the missing values in the dataframe.
- `inplace` an optional boolean parameter that defaults to `False`. If this is set to `True`, it results in the modification of the original dataframe.

For the dataframe `df` above, filling in the missing values with the average Age and median Salary can be done by:
- `mean_age = np.nanmean(df['Age'])`. This assigns the calculated mean Age to variable`mean_age`.
- `median_salary = np.nanmedian(df['Salary'])`. This assigns the calculated median Salary to variable `median_salary`.
- `fill_values = {'Age': mean_age, 'Salary': median_salary}`: This creates a dictionary object specifying the fill values for the different columns `Age` and `Salary`.
- `df.fillna(value=fill_values, inplace=True)`. This replaces the value in the DataFrame `df` in place.

The solution is shown in the code block below:

In [20]:
# Creating the DataFrame object
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
                   'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]})

# Printing out the original dataframe object
print("Original DataFrame:")
print(df, "\n")

# Creating the fill values
mean_age = np.nanmean(df['Age'])
median_salary = np.nanmedian(df['Salary'])

# Putting the fill values into a dictionary object
fill_values = {'Age': mean_age, 'Salary': median_salary}

# Filling in the missing values with the average Age and median Salary
df.fillna(value = fill_values, inplace = True)

# Printing out the modified dataframe with missing values filled with average Age and median Salary
print("DataFrame with missing values filled with average Age and median Salary:")
print(df)

Original DataFrame:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

DataFrame with missing values filled with average Age and median Salary:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  75000.0
2  Charlie  32.5  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

## Data Exploration

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.

## Grouping and Aggregating Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.

## Reshaping Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}. Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

## Merging and Joining Data

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. Perform a left join on df1 and df2 using the 'key' column as the join key.

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")

# Clean the data by removing any rows with missing values and any duplicate rows
df = 
df = 

# Use NumPy to calculate the mean and standard deviation of the "births" column
mean = 
std_dev = 

# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df['year']*10000 + df['month']*100 + df['day'], format='%Y%m%d')
grouped_by_month = 

# Use Matplotlib to create a line plot of the mean number of births per month over time
plt.plot(grouped_by_month)
plt.xlabel('Year-Month')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Month')
plt.show()

# Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
df['day_of_week'] = df['date'].dt.day_name()
grouped_by_day_of_week = 

# Use Matplotlib to create a bar chart of the mean number of births per day of the week
plt.bar(grouped_by_day_of_week.index, grouped_by_day_of_week.values)
plt.xlabel('Day of the Week')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Day of the Week')
plt.show()

# Use Pandas to group the data by year, and calculate the total number of births for each year
grouped_by_year =

# Use Matplotlib to create a bar chart of the total number of births per year
plt.bar(grouped_by_year.index, grouped_by_year.values)
plt.xlabel('Year')
plt.ylabel('Total Number of Births')
plt.title('Total Number of Births per Year')
plt.show()